@charset 'utf-8';

body, div, header, ul, li, h1, p {margin: 0; padding: 0;}
body {min-width: 1200px; background-color: #eee;}

ul li {list-style: none;}

a {color: #00a67c; text-decoration: none;}

/*--------------------------- 头 部 ---------------------------*/
#header {width: 100%; min-width: 1200px; height: 157px; background-color: #1abc9c; }

/*标题*/
.title-area {height: 105px ;margin: 0px auto; text-align: center;}
.title-area h1 {display: inline-block;color: #fff; line-height: 95px; overflow: hidden;}
.title-area h1 span {display: inline-block; transition: all .2s linear; font-weight: normal;}
.title-area .title {font-size: 54px;}
.title-area .des {font-size: 24px;}

.title-area h1:hover .title {letter-spacing: 8px;}
.title-area h1:hover .des {margin-left: 20px; opacity: .4; font-weight: lighter;}

/*菜单*/
.nav-header {width: 100%; height: 52px; background-color: #4a4a4a; font-size: 0; box-sizing: border-box;}
.nav-list {float: left;}
.nav-list li {display: inline-block; height: 52px; padding: 0px 20px; box-sizing: border-box; opacity: .9; margin-right: 1px; vertical-align: top;}
.nav-list li a {color: #fff; line-height: 52px; font-weight: bolder; font-size: 16px;}
.nav-list li:hover {background-color: #16a085;}
.nav-listitem-selected {background-color: #16a085;}

/*二级菜单*/
.nav-flag {position: relative; z-index: 10;}

.nav-II-list {position: absolute; top: 52px; left: 0; transform-style: preserve-3d; perspective: 300px; }
.nav-II-list li {display: block; width: 130px; height: 30px; background-color: #16a085;  transform: rotateY(90deg);  opacity: 0; transition: opacity .4s, transform .5s; }

.nav-II-list li a {font-size: 16px; line-height: 30px; color: #fff; font-weight: normal;}
.nav-II-list li:hover {background-color: #445552;}

.nav-flag:hover .nav-II-list li {  transform: none; opacity: .9;}

.nav-flag .nav-II-list li:nth-child(1) {transition-delay: .1s;}
.nav-flag .nav-II-list li:nth-child(2) {transition-delay: .2s;}
.nav-flag .nav-II-list li:nth-child(3) {transition-delay: .3s;}
.nav-flag .nav-II-list li:nth-child(4) {transition-delay: .4s;}
.nav-flag .nav-II-list li:nth-child(5) {transition-delay: .5s;}

/*搜索*/
.search {float: right; transition: all .3s linear;}
.search:hover {filter: opacity(.75);}

/*清除浮动*/
.nav-header:after {content: ''; display: block; height: 0; visibility: hidden; clear: both;}

/*--------------------------- 内 容 ---------------------------*/
/*容器*/
.container {width: 1200px;  margin: 0 auto; overflow: hidden;}

/*广播*/
.bar {width: 100%; height: 40px; background-color: #fff; margin-bottom: 10px; padding: 5px 20px;box-sizing: border-box; vertical-align: top;}
.top-tips {height: 30px; display: inline-block;}

.login-btn {float: right; height: 30px; line-height: 30px; font-size: 14px;}
.login-btn:before {content: url('../images/login.png');  vertical-align: middle; margin-right: 5px;}
.login-btn:hover {color: #007046;}
.login-btn:after {content: ''; display: block; height: 0; visibility: hidden; clear: both;}

/*内容*/
.content {width: 1200px; height: auto;}

/*--------------------------- 内容（左） ---------------------------*/
.content-fl {width: 870px; height: auto;float: left;}

/*图片区域*/
.img-box {width: 100%; height: 280px;  margin-bottom: 10px;}

.img-list {width: 130px; height: 100%;  float: left;}
.img-list li {width: 126px; height: 60px; border: 2px solid #fff; margin-bottom: 8px; }
.img-list li img:hover {opacity: .75;}

.show-box {width: 730px; height: 100%; float: right; position: relative;} 
.show-box .title {display: inline-block; height: 50px; background-color: rgba(0, 0, 0, .4); position: absolute; left: 10px; bottom: 40px; font: 2.4em; color: #fff; line-height: 50px; padding: 0 10px;  border-radius: 5px; }
.img-box:after {content: ''; display: block; height: 0; visibility: hidden; clear: both;}

/*列表内容*/
.content-listitem {width: 100%; height: 204px; background-color: #fff; margin-bottom: 10px; overflow: hidden; vertical-align: top; position: relative;}

.content-list header {padding: 10px 20px; }

.content-listitem .title {background-color: #d9534f; padding: 5px; color: #fff; font-size: 14px; position: relative; margin-right: 10px;}
.content-listitem .title:after {content: ''; display: block; position: absolute; right: -11px; top: 7px; border-color: transparent transparent transparent #d9534f; border-style: solid; border-width: 6px;}
.content-listitem .des {font-size: 20px; line-height: 25px;}
.content-listitem .des:hover {color: #007046;}

.content-listitem .focus {margin: 15px 20px; width: 200px; height: 123px; overflow: hidden; display: inline-block;}
.content-listitem .focus img {transition: transform .3s linear;}
.content-listitem:hover img {transform: scale(1.2);}

.content-listitem .text {width: 600px; height: 80px; padding-top: 10px;margin: 15px 0;display: inline-block; vertical-align: top; color: #777; font-size: 14px; line-height: 20px; text-indent: 2em;}

.content-listitem .auth-span {width: 600px; height: 30px; /*background-color: blue;*/ position: absolute; right: 25px; bottom: 10px; text-align: right;}
.content-listitem .auth-span span {font-size: 13px; margin-right: 20px; color: #999;}
.content-listitem .auth-span a:hover {color: #007046;}

/*分页*/
.page {width: 100%; height: 80px; background-color: #fff;text-align: center;}
.page span {display: inline-block; background-color: #eee;padding: 5px 10px; margin: 30px 5px; color: #666; font-size: 14px; cursor: pointer;}
.page span:first-child {background-color: #00a67c; color: #fff;}
.page span:hover {background-color: #00a67c; color: #fff;}


/*--------------------------- 内容（右） ---------------------------*/
.content-fr {width: 320px; height: auto; float: right;}

.widget {width: 100%; background-color: #fff; margin-bottom: 10px;}

.widget .title {border-bottom: 1px solid #1abc9c; width: 300px; margin-left: 10px; line-height: 30px; font-size: 16px; color: #1abc9c;}

/*分享*/
.share-area {height: 65px;  }

.share-item {display: inline-block; width: 40px; height: 40px; position: relative; background-color: blue; margin: 10px 4px; }
.share-item:hover img {filter: grayscale(75%);}
.share-item:hover .sub_title {visibility: visible;}

.share-item .sub_title {display: inline-block; width: 60px; height: 20px; background-color: #1abc9c; position: absolute; left: -15px; top: -32px; font-size: 13px; color: #fff; line-height: 20px; padding: 3px; text-align: center; border-radius: 3px; visibility: hidden;}
.share-item .sub_title:before {content: ''; display: inline-block; border-width: 7px;border-color: #1abc9c transparent transparent transparent; border-style: solid; position: absolute; top: 25px; left: 26px;}

/*订阅*/
.widget_subscribe { height: 100px;}
/*分类目录*/
.widget_categories {height: 200px;}
/*标签云*/
.widget_tag {height: 200px;}
/*近期文章*/
.widget_recent_entries {height: 300px;}
/*时事热门*/
.widget_postlist {height: 400px;}
/*活跃读者*/
.widget_reader {height: 50px;}
/*最新吐槽*/
.widget_comment {height: 100px;}
/*文章日历表*/
.widget_calendar {height: 200px;}




/*--------------------------- 清除内容浮动 -------------------------*/

.content-fl:after, .fontent-fr:after, .content:after {content: ''; display: block; height: 0; visibility: hidden; clear: both;}


/*--------------------------- 尾 部 -------------------------------*/
#footer {white-space: 100%; height: 50px; background-color: #333;}
#footer span {color: #ccc; line-height: 50px; margin-left: 35px; font-size: 14px;}
#footer a {color: #ccc; font-size: 14px;}
#footer a:hover {text-decoration: underline;}



/*--------------------------- 响应式布局 --------------------------*/
@media screen and (min-width: 1200px) {
	.nav-header {padding: 0 40px;}
}











